
.instr-container {
  background-color: #1A1B41;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding: 3vw 0;
}

/* Main Title */
.main-title {

  text-align: center;
  font-size: 70px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin: 0px 0 2px;
  color: rgba(238, 140, 174, 1);
  text-shadow: 
    2px 2px 0px #4A1237, 
    -2px -2px 0px #4A1237, 
    2px -2px 0px #4A1237, 
    -2px 2px 0px #4A1237;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* margin-top: 20px; */
  flex-direction: row;
  width: 100%;
  /* background-color: #fff; */
}

.card-container > div {
  width: 420px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

/* Hover Effect for Card */
.card-container > div:hover {
  transform: scale(1.05);
  background-color: #2A2C61;
  box-shadow: 0 8px 20px rgba(238, 140, 174, 1); 
  transition: all 0.3s ease; 
}


/* Card Styles */
.card-icon {
  width: 170px;
  height: 120px;
  margin: 20px auto;
  display: block;
}

.card-title {
  margin-top: 30px;
  font-size: 50px;
  color: #FFEAD7;
  text-align: center;
}

.card-content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  font-size: 19px;
  line-height: 1.6;
  color: #FFD5AB;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}



/* Next Button */
.next-button {
  background-color: #1A1B41;
  color: rgba(238, 140, 174, 1);
  font-family: "Press Start 2P", "Avenixel";
  font-size: 20px;
  text-transform: uppercase;
  width: 314px;
  padding: 1px 40px; 
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-shadow: 
    2px 2px 0px #4A1237, 
    -2px -2px 0px #4A1237, 
    2px -2px 0px #4A1237, 
    -2px 2px 0px #4A1237;
}



.button-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 1px;
}

/* Next Button */
.next-buttons {
  background-color: #1A1B41;
  color: rgba(238, 140, 174, 1);
  font-family: "Press Start 2P", "Avenixel";
  font-size: 20px;
  text-transform: uppercase;
  width: 200px;
  padding: 1px 40px; 
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  text-shadow: 
    2px 2px 0px #4A1237, 
    -2px -2px 0px #4A1237, 
    2px -2px 0px #4A1237, 
    -2px 2px 0px #4A1237;
}



